@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to User Management System</h1>
    <p class="lead">Manage your users efficiently with our easy-to-use interface.</p>
    <p>
        <a asp-controller="User" asp-action="Index" class="btn btn-primary btn-lg mt-3">
            <i class="bi bi-people"></i> View All Users
        </a>
        <a asp-controller="User" asp-action="Create" class="btn btn-success btn-lg mt-3">
            <i class="bi bi-plus-circle"></i> Add New User
        </a>
    </p>
</div>